@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




@media (max-width: 768px) {
  .custom-margin {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: auto;
  }
  .custom-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: auto;

    h1 {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }
    p {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: auto;
    }
  }
  .custom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
  }

  .custom-accordion {
    width: auto;
  }

  .custom-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
  }

  .custom-image {
    padding-left: 0%;
    padding-right: 0%;
  }

  .custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .custom-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .custom-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .custom-stepButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .custom-textStep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .custom-payments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .custom-payments-card{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .custom-template{
    width: 100%;
    padding: auto;
  }
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #ccc; 
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-input:checked + .radio-dot {
  background-color: #1EA230; 
  border-color: white; 
}








.accordion-enter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in;
}

.accordion-enter-active {
  max-height: 500px; 
}

.accordion-exit {
  max-height: 500px; 
  overflow: hidden;
}

.accordion-exit-active {
  max-height: 0;
  transition: max-height 300ms ease-out;
}
